body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fc1e8a;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    325deg,
    #9892ce 0%,
    #b47cda 30%,
    #e0b6d5 70%,
    #fdeff9 100%
  );
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 3px black;
}

.reset {
  padding: 15px 20px;
  width: 55%;
  color: #000;
  background-color: #cecccc;
  box-shadow: 1px 2px 3px black;
  border: none;
  border-radius: 20px;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #f5f5f5;
  background-color: #262809;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
  /* cursor: pointer; */
  cursor: url("../images/mouse_alvo2.png"), cell;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff68;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.35s;
  border-radius: 10px;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #404040;
  /* opacity: 0.85; */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 10px;
}

.item.boxOpen {
  transform: rotateY(0deg);
}


.item:hover {
  background: #6f586f;
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
